DJANGO_DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/djangodbname
FASTAPI_DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/fastapidbname
FLASK_DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/flaskdbname
JWT_ALGORITHM=HS256
JWT_SECRET_KEY=secretkey1234567890
JWT_EXP_MINS=30
DJANGO_BACKEND_URL=http://localhost:8000
FASTAPI_AUTH_URL=http://localhost:8001
REVIEW_SERVICE_URL=http://localhost:8002