DJANGO_DATABASE_URL=postgresql+psycopg2://user:password@localhost:5432/dbname
FASTAPI_DATABASE_URL=postgresql+psycopg2://user:password@localhost:5432/dbname
FLASK_DATABASE_URL=postgresql+psycopg2://user:password@localhost:5432/dbname
JWT_ALGORITHM=HS256
JWT_SECRET_KEY=secretkey1234567890
JWT_EXP_MINS=30